<div class="component__inner embed-media__inner">
  {{> component this}} 

  <div class="embed-media__main">
    <iframe src="{{{_video.src}}}" width="{{_video.width}}" height="{{_video.height}}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </div> 
  


</div>
