<div class="component__inner embed-media__inner">
  {{> component this}} 

  <div class="embed-media__main">
    <iframe class="embed-media__iframe" src="{{{_video.src}}}" width="{{_video._width}}" height="{{_video._height}}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    {{!-- <div class="embed-media__touch js-embed-media-select"></div> --}}
  </div> 
  


</div>
